.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;

  .box {
    box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem #a8a297;
    overflow: hidden;

    .image {
      height: 30rem;
      width: 100%;
      overflow: hidden;
      background-size: cover;
      background-position: center;

      &:hover {
        transform: scale(1.05);
      }
    }

    .content {
      padding: 2rem 1.5rem;

      .icons {
        border-bottom: 0.2rem solid #a8a297;
        padding-bottom: 1.7rem;
        margin-bottom: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          font-size: 1.5rem;
          color: #ff9421;

          &:hover {
            color: #cf1a1a;
          }

          i {
            color: #cf1a1a;
            padding-right: 0.5rem;
          }
        }
      }

      h3 {
        font-size: 2.2rem;
        color: black;
      }

      p {
        font-size: 1.4rem;
        color: black;
        text-transform: none;
        text-align: justify;
        line-height: 2;
        padding: 1rem 0;
      }
    }
  }
}
