/* .home {
  padding-top: 5rem;

  .slides-container {
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    .slide {
      display: grid;
      align-items: center;
      gap: 2rem;
      width: 100%;
      height: 100%;
      display: none;

      &.active {
        display: grid;
      }

      .image {
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
        width: 100%;
      }
    }
  }
} */
